<div><h2 class="text-center">{{aim}}</h2></div>
<div id="q1" class="p-3 mb-2 bg-dark text-white   container mt-5 w-25 p-3">
    <h1 class="text-center">LOGIN</h1>
    <form action="">
        <div class="mt-2 pt-3">
            <label for="u1"></label>
            <input [(ngModel)]="acno" id="acid" type="text" name="acno"  class="form-control" [placeholder]="data">      
        </div>
        <div class="mt-2 pt-3">
            <label for="p1"></label>
            <input [(ngModel)]="psw" id="pid" type="password" name="psw"  class="form-control" placeholder="password">
        </div>
        <div class="text-center mt-2 pt-3">
            <button  type="submit" (click)="login()" class="btn btn-success ">login</button>
        </div><br>
        <div class="text-center">Not Registered? <a class="text-danger" routerLink="register" >Register here</a></div>
         
        


    </form>
</div>