<div style="border-radius:40px; background: rgba(234, 241, 216, 0.466);" class="container w-50 p-5 mt-5">
    <h3 class="text-center text-secondary p-3">Transaction History</h3>
    <table class="border bg-light w-100 text-center">
        <thead>
            <tr class="border border-dark">
                <th class="border border-dark">type</th>
                <th class="border border-dark">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border border-dark" >
                <td class="border border-dark">Credit</td>
                <td class="border border-dark">500</td>
            </tr>
            <tr class="border border-dark">
                <td class="border border-dark">Debit</td>
                <td class="border border-dark">200</td>
            </tr>
        </tbody>
    </table>
</div>    